.newPollContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newPollTitle {
  text-align: center;
  color: var(--primary-color);
}

.newPollForm {
  display: flex;
  flex-direction: column;
}

.optionInput {
  margin-bottom: 15px;
}

.submitButton {
  margin-top: 20px;
}